h4 {
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
}

button {
    color: #292f36;
    background-color: #2d728f;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition-duration: .4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

h5 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #292f36;
}

h4 {
    color: #292f36;
}