@import "_config.scss";
Html {
  background-color: $tealBlue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  background-color: $sandyBrown;
  @include flexEverythingCenter();
}
$break-small: 320px;
$break-medium: 700px;
$break-large: 1080px;
nav {
  background-color: $fireBrick;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 3px;
  @media screen and (min-width: $break-small) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
h3 {
  background-color: $blueMunsel;
  width: 20vw;
  border-radius: 5px;
  &:hover {
    background-color: $tealBlue;
    box-shadow: 10px 10px 10px $textColor;
    transform: translateX(-10px);
  }
}
h1 {
  background-color: $yellowCrayola;
  height: 20vh;
  padding-top: 40px;
  border-radius: 10px;
  color: $fireBrick;
  font-weight: 175%;
}
