@import "_config.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

Html {
  background-color: $yellowCrayola;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main {
  background-color: $sandyBrown;
  @include flexEverythingCenter();
}

$break-small: 400px;
$break-medium: 700px;
$break-large: 1080px;

main>.top-left {
  grid-area: a;
}

main>.top-right {
  grid-area: b;
}

main>.bottom-left {
  grid-area: c;
}

main>.bottom-right {
  grid-area: d;
}

nav {
  background-color: $yellowCrayola;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-evenly;
  border-radius: 3px;

  @media screen and (max-width: $break-small) {
    display: grid;
    grid-template-areas:
      "a b"
      "a b";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-bottom: 20px;
    align-self: stretch;
  }
}

h3 {
  background-color: $blueMunsel;
  width: 20vw;
  height: 35px;
  border-radius: 5px;
  padding-bottom: 10px;


  &:hover {
    background-color: $tealBlue;
    box-shadow: 10px 10px 10px $textColor;
    transform: translateX(-15px);
    transition-duration: 1s;
    // opacity: 90%;
  }
}

h1 {
  background-image: url(https://i.pinimg.com/474x/da/86/e5/da86e57604248a7dfd7c6deaf5c20efc--donald-trump-donald-oconnor.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #f5ee9e;
  height: 28vh;
  padding-top: 40px;
  border-radius: 10px;
  color: $textColor;
  font-family: 'Montserrat', sans-serif;

  @media screen and (min-width: $break-medium) {
    display: block;
    background-image: url(https://d.newsweek.com/en/full/607858/adsgads.jpg);
    height: 30vh;
    font-weight: bold;
    font-size: 30px;
    color: lightskyblue;
  }

  @media screen and (min-width: $break-large) {
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/05/13/11/trumpbaby.jpg?width=1000);
    color: white;
    font-weight: bolder;
    font-size: 35px;
    height: 40vh;

  }
}


img {
  max-width: 100%;
  background-size: 100vw;

  @media screen and (max-width: $break-small) {
    max-width: 300px;
  }

  @media screen and (max-width: $break-medium) {
    background-size: 100vw;
  }
}

footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
}